@import 'bootstrap';
@import 'font-awesome.css';


body {
  padding-top: 45px;
}

.form-slider {
  margin-bottom: 60px;
}

.header-block {
  margin-bottom: 30px;
}

.slider-label {
  font-weight: 600;
  font-size: 18px;
}
